.title {
    color: #010000;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
}

.education {
    color: #0EBFE9;
    font-size: 12px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 300;

}

.button {
    background-color: #203e6d; /* Blue */ 
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}